body {
background-color: #d6d2c4;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #968c83;
  border-width: 10px;
  width: 5%;
}

h1 {
  color: #cd0a0a;
}

h3 {
  color: #cd0a0a;
}
